<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html10</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml10_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html10.hyperesources/cocktailhtml10_hype_generated_script.js?23157"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div></div>
		<div>【材    料】：威士忌90ml(Whisky)，苦艾酒30ml， 安格斯图拉苦酒1ml，黑色樱桃香甜酒5ml, 樱桃1颗.
                       
【制    法】：先在一个调酒杯中倒入适量的碎冰和90ml的威士忌，接着倒入30ml的苦艾酒和安格斯图拉苦酒，然后加入黑色樱桃香甜酒，充分的搅拌均匀之后，过滤，倒入准备好的高脚杯当中。最后，放上一颗樱桃做为装饰。
                        
</div>
		<div>丘吉尔夫人之选：    (Manhattan)曼哈顿
</div>
		<div>曼哈顿鸡尾酒和曼哈顿有什么关系呢？据说此酒是19世纪70年代早期在纽约的曼哈顿俱乐部发明的。丘吉尔的母亲－珍妮.伦道夫.丘吉尔夫人(Jennie Randolph Churchill)正为美国总统候选人Samuel JTilden举办宴会，因为宴会成功，曼哈顿鸡尾酒也就瞬间流行起来。威士忌，苦艾酒和安格斯图拉苦酒带来的交错复杂味道，需要细细品鉴才能得其中真味。
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
