<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2935;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=device-width" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html.hyperesources/cocktailhtml_hype_generated_script.js?57763"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>酸楚浪漫到极致- - -Margarita(玛格丽特）
</div>
		<div>【材    料】：Tequila(龙舌兰)40ML、君度酒10ML、青柠片2片、                        酸橙汁15ML、盐少许
【制    法】：用青柠擦拭酒杯的杯沿，然后用杯边在盐中蘸一下，                        将Tequila(龙舌兰)、青柠汁和君度酒倒入摇酒器中，                        加入一些冰块，摇匀后滤入挂有盐霜的玛格丽特杯，                        用圆形青柠片装饰。　</div>
		<div>Margarita (玛格丽特) 被称作“鸡尾酒之后”, 它是世界上知名度最高的传统鸡尾酒之一, 它曾经是1949年全美鸡尾酒大赛的冠军。Margarita(玛格丽特)，有近二十几种的调制方法，其中以各种水果风味的玛格丽特居多。</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
