<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2935;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml_hype_container" style="margin:auto;position:relative;width:375px;height:677px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html.hyperesources/cocktailhtml_hype_generated_script.js?98121"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>Margarita (玛格丽特) 被称作“鸡尾酒之后”, 它是世界上知名度最高的传统鸡尾酒之一, 它曾经是1949年全美鸡尾酒大赛的冠军。Margarita(玛格丽特)，有近二十几种的调制方法，其中以各种水果风味的玛格丽特居多。</div>
		<div>【材    料】：Tequila(龙舌兰)40ML、君度酒10ML、青柠片2片、                        酸橙汁15ML、盐少许
【制    法】：用青柠擦拭酒杯的杯沿，然后用杯边在盐中蘸一下，                        将Tequila(龙舌兰)、青柠汁和君度酒倒入摇酒器中，                        加入一些冰块，摇匀后滤入挂有盐霜的玛格丽特杯，                        用圆形青柠片装饰。　</div>
		<div>酸楚浪漫到极致- - -Margarita(玛格丽特）
</div>
		<div>        充满异国情调的东洋神秘鸡尾酒                                       -------Singapore Sling(新加坡司令）</div>
		<div>Singapore Sling(新加坡司令)是世界十大鸡尾酒中惟一由亚洲人创造的。根据古老传统, 在长吧(long bar) 里品尝司令酒可以把吃剩的花生壳扔在地板上, 这对于以法律严厉著称的新加坡来说, 绝对是奇迹！</div>
		<div>【材    料】：Gin(金酒)60ML、Brandy(樱桃白兰地)40ML、                         柠檬汁40ML、苏打水150ML、糖浆一茶匙、樱桃2颗                        柠檬片1片。
【制    法】:  1.在雪克壶中放入4-6冰块，倒入金酒。　　               2.加上白兰地、柠檬汁、糖浆，摇晃均匀。　              　 3.在杯中放入冰块，滤入调制好的鸡尾酒。　　               4.用苏打水加至九分满。                       5.用樱桃、柠檬皮条装饰。</div>
		<div>Gin Tonic(金汤力), 是一种经典鸡尾酒，亦是各种以金酒为基础的调酒里面，知名度最高的一种饮品, 在纽约和巴黎的酒吧中，是恋人首选的饮品。很简单的一款酒，没那么花哨。青柠的香气，加上柠檬和二氧化碳的冲击感， 直白的告诉你夏日的畅快。</div>
		<div>【材    料】：Gin(金酒) 45ML、汤力水补足剩余、青柠片2片。








【制    法】：(1)将Gin(金酒)倒入8盎司容量的坦布勒杯中。(2)加入冰块，用汤力水加满，最后用柠檬片装饰。</div>
		<div>暗恋金汤力
</div>
		<div>, 初恋莫吉托, 失恋二锅头。  -----Gin Tonic(金汤力）
</div>
		<div>据说血腥玛丽的名字是源自英格兰玛丽女王，她是一个可怕的女王，因为迫害新教徒，所以被冠以血腥玛丽的称号。在美国禁酒法期间，血腥玛丽在地下酒吧非常之流行。</div>
		<div>【材    料】：伏特加45ml、蕃茄汁20ml、半月形柠檬片1片、芹菜叶1根


【制    法】：1.将冰块倒入杯中，倒入伏特加。
2.把多于伏特加2－3倍的冰冷番茄汁倒入杯中，轻轻搅匀。
3.以柠檬做装饰，附上一根芹菜。</div>
		<div>          能喝醉的番茄汁 ------Bloody Mary(血腥玛丽)
 
</div>
		<div>【材    料】：
朗姆酒45ml, 可乐1罐,  冰块适量,  青柠檬片3片



【制    法】：
1. 将冰块倒入杯中，向杯中挤入一些青柠檬汁。

2. 倒入45ml的朗姆酒，剩下空杯以可乐注满。

3. 放入两片柠檬，喝前轻轻搅拌一下即可。
</div>
		<div>一款具有革命精神的鸡尾酒，(Cuba Libre)自由古巴。
</div>
		<div>自由古巴（Cuba Libre)是古巴从西班牙手中独立时，用当时市民口中常用的词来命名的酒。古巴人民进行了反对西班牙的独立战争，在这场战争中他们使用“Cuba Libre”（即自由的古巴万岁)作为纲领性口号，于是便有了这款名为“Cuba Libre(自由古巴)的鸡尾酒。
</div>
		<div>【材    料】：Gin(金酒)60ML、Dry Vermouth(干味美思)15ML、 
                        橄榄两颗，冰块适量，冰桶及冰夹，调酒杯。
【制    法】:  1.在鸡尾酒杯中加入冰块，进行冰杯。
　　               2.取适量的冰块放置于调酒杯中，倒入干味美思。
　              　 3.再将Gin(金酒)倒入酒杯内, 搅拌10次左右。
　　               4.将鸡尾酒杯中的冰块倒掉，确保杯子是冰镇的。
                       5.过滤掉调酒杯的冰块，倒入鸡尾酒杯中。
                       6.取两颗橄榄放入杯内

</div>
		<div>干马天尼凭借其独特的地位享有“鸡尾酒之王”的美誉，007里的詹姆斯
邦德亦或是国产凌凌漆里的周星驰，无一不拜倒在干马天尼下。
</div>
		<div>  鸡尾酒自(Martini)马天尼开始, 又以(Martini)马天尼告终。
</div>
		<div>詹姆斯邦德有一句名言就是：一杯干马天尼, 摇匀，不要搅拌。
</div>
		<div>------RainBow(法国彩虹）
</div>
		<div>【制    法】:  
使用调酒长匙的背面，顶住杯子内壁，用量杯将材料轻轻沿匙顺杯壁流入。 　顺序为：1、红石榴糖浆2、蜜瓜甜酒3、棕可可4、樱桃白兰地5、蓝鲜橙酒6、白兰地
</div>
		<div></div>
		<div>【材    料】：6ml  棕可可（Brown Creme De Cacao)6ml 红石榴糖浆(Grenadine) 　　6ml 蜜瓜甜酒(Melon liqueur) 　6ml 樱桃白兰地(Cherry Brandy) 6ml 白兰地(Brandy) 　6ml 蓝鲜橙酒(Blue Curacao)
</div>
		<div>身未动，心已远，带你去看醉美的彩虹！
</div>
		<div> 如果你爱喝奶茶又爱酒, 百利甜牛奶让你微醺的刚刚好。
</div>
		<div>相传, 这款酒来自英国的爱情传说。一位调酒师在太太去世后，找了
一位长得很像的女人为妻，但这个女人无法接受自己是个替代品，遂
放出狠话：就像牛奶永远无法和威士忌融合在一起一样，我们也不可
能融合在一起。后来，这位调酒师用了一年时间，完美的将牛奶与威
士忌融合在一起，并且注入了自己的一滴眼泪。所以说每个喝百利甜
酒的姑娘都会莫名其妙的有一种温暖感。
</div>
		<div>【材    料】：BAILEYS(百利甜)45ML、牛奶（脱脂牛奶最好）、
                        冰块适量。
                       
【制    法】：先在杯中加入冰块，然后倒入45ml(Baileys)百利甜酒。
                        然后，加入牛奶（最好是冰的～），
                        大概酒和牛奶的比例是1：2 （根据个人喜好决定）
                        
                        
</div>
		<div>百利甜，情人眼中的一滴泪
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
