<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html8</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=device-width" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml8_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html8.hyperesources/cocktailhtml8_hype_generated_script.js?66476"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>百利甜，情人眼中的一滴泪
</div>
		<div></div>
		<div> 如果你爱喝奶茶又爱酒, 百利甜牛奶让你微醺的刚刚好。
</div>
		<div>【材    料】：BAILEYS(百利甜)45ML、牛奶（脱脂牛奶最好）、
                        冰块适量。
                       
【制    法】：先在杯中加入冰块，然后倒入45ml(Baileys)百利甜酒。
                        然后，加入牛奶（最好是冰的～），
                        大概酒和牛奶的比例是1：2 （根据个人喜好决定）
                        
                        
</div>
		<div>相传, 这款酒来自英国的爱情传说。一位调酒师在太太去世后，找了
一位长得很像的女人为妻，但这个女人无法接受自己是个替代品，遂
放出狠话：就像牛奶永远无法和威士忌融合在一起一样，我们也不可
能融合在一起。后来，这位调酒师用了一年时间，完美的将牛奶与威
士忌融合在一起，并且注入了自己的一滴眼泪。所以说每个喝百利甜
酒的姑娘都会莫名其妙的有一种温暖感。
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
