<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html17</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml17_hype_container" style="margin:auto;position:relative;width:375px;height:760px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html17.hyperesources/cocktailhtml17_hype_generated_script.js?62030"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>    成就了一代影帝“马龙.白兰度”的百老汇经典                                                          ———金菲士(Gin Fizz)</div>
		<div>【材    料】：
1.  金酒（Gin) 50ml
2.  柠檬汁 20ml
3.  石榴汁 5ml
4.  苏打水
5.  柠檬片／黄瓜片

【制    法】：
1. 在酒杯中依次倒入金酒，柠檬汁和石榴汁。
2. 在杯里注满苏打水，搅拌均匀，加柠檬或黄瓜片做为装饰。

</div>
		<div></div>
		<div>金菲士(Gin Fizz)鸡尾酒又叫非斯杜松子酒，起源于美国，是十大经典鸡尾酒之一。即使不喜欢鸡尾酒，一旦饮用次品，也会喜欢上它的感觉。
Fizz就是在酒中加入的苏打水中的碳酸气体会逸发出“滋滋”声，此酒名由此而来。 
顾名思义，气泡在杯中绽放，酒味随之升华！

</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
