<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html6</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml6_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html6.hyperesources/cocktailhtml6_hype_generated_script.js?8920"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>  鸡尾酒自(Martini)马天尼开始, 又以(Martini)马天尼告终。
</div>
		<div>詹姆斯邦德有一句名言就是：一杯干马天尼, 摇匀，不要搅拌。
</div>
		<div>【材    料】：Gin(金酒)60ML、Dry Vermouth(干味美思)15ML、 
                        橄榄两颗，冰块适量，冰桶及冰夹，调酒杯。
【制    法】:  1.在鸡尾酒杯中加入冰块，进行冰杯。
　　               2.取适量的冰块放置于调酒杯中，倒入干味美思。
　              　 3.再将Gin(金酒)倒入酒杯内, 搅拌10次左右。
　　               4.将鸡尾酒杯中的冰块倒掉，确保杯子是冰镇的。
                       5.过滤掉调酒杯的冰块，倒入鸡尾酒杯中。
                       6.取两颗橄榄放入杯内

</div>
		<div>干马天尼凭借其独特的地位享有“鸡尾酒之王”的美誉，007里的詹姆斯
邦德亦或是国产凌凌漆里的周星驰，无一不拜倒在干马天尼下。
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
