<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html18</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=device-width" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml18_hype_container" style="margin:auto;position:relative;width:375px;height:750px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html18.hyperesources/cocktailhtml18_hype_generated_script.js?15948"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>    电影里，明星们都在喝的鸡尾酒                                                   ———白俄罗斯(White Russian)</div>
		<div>【材    料】：
1.  伏特加（Vodka) 40ml
2.  咖啡利口酒 20ml
3.  奶油适量，冰块适量

【制    法】：
1. 将伏特加(Vodka)和咖啡酒注入盛有冰块的酒杯当中，调匀。
2.  从上面轻轻的淋入鲜奶油使其浮在酒的表面。于是它便有了牛奶冰咖啡的味道。
</div>
		<div>在电影《谋杀绿脚趾》中，那个酗酒的男主角不停的饮用的就是这款白俄罗斯鸡尾酒，这个场景真是出现了一遍又一遍, 而这部电影也成了当时男人必备DVD藏品。在好莱坞的《猫女》中，Halle Berry在酒吧中，点的第一杯酒也是白俄罗斯, 看来这款酒是男女皆宜。

这款国际上极其流行的鸡尾酒, 在冬日的夜晚深受姑娘们喜爱。

</div>
		<div></div>

	</div>

	<!-- end text content: -->

  </body>
</html>
