<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html20</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=device-width" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml20_hype_container" style="margin:auto;position:relative;width:375px;height:750px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html20.hyperesources/cocktailhtml20_hype_generated_script.js?93058"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div></div>
		<div>【材    料】：
1.  白朗姆酒 60ml
2.  椰奶 30ml
3.  鲜奶油  30ml
4.  新鲜菠萝汁 180ml
5.  碎冰 120ml
6.  一片菠萝／一颗樱桃


【制    法】：
1. 将所有的原料（白朗姆酒，椰奶，鲜奶油，菠萝汁）倒进调酒器中。
2.  充分的摇匀，倒入盛有碎冰的杯中。3.  用一片菠萝或樱桃做装饰。
</div>
		<div>有一首流行歌曲跟这款鸡尾酒有关，这首歌名叫《你喜欢椰林飘香鸡尾酒吗？》（Do you like Pina Coladas?)。这款鸡尾酒在波多黎各诞生，也是波多黎各的“国饮”， 在西班牙语中Pina Coladas是“菠萝茂盛的山谷”的意思。
在20世纪以来，世界对波多黎各的认识大多只剩下两个，第一是盛产美女，第二遍是红遍全球的鸡尾酒：椰林飘香（Pina Coladas).
</div>
		<div>  有属于自己的歌曲的鸡尾酒:  椰林飘香（Pina Coladas)

</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
