<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html19</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=device-width" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml19_hype_container" style="margin:auto;position:relative;width:375px;height:740px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html19.hyperesources/cocktailhtml19_hype_generated_script.js?50441"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>        《欲望都市》中女主角的最爱                                                   ———大都会(Cosmopolitan)</div>
		<div>【材    料】：
1.  伏特加（Vodka) 40ml
2.  君度力娇酒 15ml
3.  青柠汁 15ml
4.  蔓越莓汁 30ml
5.  冰块适量



【制    法】：
1. 将伏特加(Vodka)和冰块加入到调酒壶中。
2.  依次加入君度，青柠汁，蔓越莓汁并摇晃均匀。3.  过滤之后倒入冰镇的鸡尾酒杯中，用青柠片装饰。
</div>
		<div></div>
		<div>大都会Cosmopolitan鸡尾酒口感酸甜，非常适合女性饮用，大都会（Cosmopolitan) 属于马天尼系列。
起源于1987年，一个叫约翰.凯恩从俄亥俄州传播到旧金山各地。是上世纪美国鸡尾酒大奖赛的冠军作品，并在《欲望都市》中成为女主角最喜爱的鸡尾酒。
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
