<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html11</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml11_hype_container" style="margin:auto;position:relative;width:375px;height:780px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html11.hyperesources/cocktailhtml11_hype_generated_script.js?2355"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>【材    料】：
1.爱尔兰威士忌(Iirsh Whisky)
2.白砂糖
3.一杯冲好的咖啡
4.奶油
5.酒精灯(烤杯用)
6.爱尔兰咖啡杯


</div>
		<div>相思苦,  苦相思,  爱尔兰咖啡(Irish Coffee),  思念此生无缘人。
</div>
		<div>【制    法】：
1. 将一勺白砂糖，30ml的爱尔兰威士忌倒入爱尔兰杯中，漫过咖啡杯下面的那一道线。2. 点燃酒精灯，左手食指与拇指握住杯梗底部，右手握住杯底座。让火源由杯底部烧起，此时右手满满转动杯底部，使杯受热均匀。3. 看到杯口有雾状出现，慢慢将火源移动到杯口，此时见到有火焰燃烧，晃动杯子让酒绕着杯晃动，使酒精挥发出来。（注意：一定要均匀受热，否则杯子会炸掉，另外不要太早点燃杯中的液体）4. 倒入冲调好的热咖啡，漫过咖啡杯上的那道线。5. 用裱花袋把奶油挤在咖啡上面即可，也可以放一粒咖啡做装饰。

                        
</div>
		<div></div>
		<div>爱尔兰咖啡（Irish Coffee)的发明来自柏林机场的酒保。因为横越大西洋的飞机常常会在这里加油，旅客休息时候很喜欢喝杯爱尔兰咖啡，所以它就随着飞航传到世界各处。
这款鸡尾酒是酒保在机场邂逅了一位女孩，一见钟情，但是这个女孩每次都只是点着不同的咖啡，从未点过鸡尾酒。于是这位酒保便把威士忌与咖啡结合，并取名为爱尔兰咖啡。但是女孩直到一年以后才发现这个专门为她创作的鸡尾酒。
爱尔兰咖啡即是鸡尾酒，又是咖啡，本身就是一种美丽的错误。

</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
