<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html5</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml5_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html5.hyperesources/cocktailhtml5_hype_generated_script.js?74788"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>自由古巴（Cuba Libre)是古巴从西班牙手中独立时，用当时市民口中常用的词来命名的酒。古巴人民进行了反对西班牙的独立战争，在这场战争中他们使用“Cuba Libre”（即自由的古巴万岁)作为纲领性口号，于是便有了这款名为“Cuba Libre(自由古巴)的鸡尾酒。
</div>
		<div>一款具有革命精神的鸡尾酒，(Cuba Libre)自由古巴。
</div>
		<div>【材    料】：
朗姆酒45ml, 可乐1罐,  冰块适量,  青柠檬片3片



【制    法】：
1. 将冰块倒入杯中，向杯中挤入一些青柠檬汁。

2. 倒入45ml的朗姆酒，剩下空杯以可乐注满。

3. 放入两片柠檬，喝前轻轻搅拌一下即可。
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
