<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html9</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml9_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html9.hyperesources/cocktailhtml9_hype_generated_script.js?29773"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>【材    料】：龙舌兰酒(Tequila)60ml，柠檬汁10ml， 石榴汁20ml，橙汁100ml, 柠檬片1片.
                       
【制    法】：先在高脚杯中倒入适量的冰块，接着倒入60ml的   Tequila(龙舌兰酒）, 然后在杯子里兑满橙汁和柠檬汁，最后沿着杯壁倒入20ml的石榴汁，使其沉入杯底，并使其自然升起呈太阳喷雾欲出状。
                        
                        
</div>
		<div>当年滚石乐队在1972年的美洲巡回演出中饮用了这款鸡尾酒，使
这款鸡尾酒在美国盛行。龙舌兰日出寓意着在生长着星星点点仙人掌但又荒凉到极点的墨西哥平原上，正升起鲜红的太阳，阳光把墨西哥平原照耀的一片灿烂，而这款鸡尾酒中浓烈的龙舌兰搭配上墨西哥大麻的味道，使人想起那墨西哥的朝霞。
</div>
		<div></div>
		<div>墨西哥毒枭的灵魂：(Tequila Sunrise)龙舌兰日出
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
