<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html13</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml13_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html13.hyperesources/cocktailhtml13_hype_generated_script.js?34882"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>每到冬天，热托蒂(Hot Toddy)鸡尾酒是不得不提的冬季鸡尾酒。带着落叶般的颜色和晚收水果的浓香。
五杯热托蒂，让你跟冬日感冒说再见！
热气腾腾的威士忌鸡尾酒，温暖而简单，这种混合着酒精的热饮可以加快血液循环，改善因感冒引起的鼻塞情况，将难熬的感冒痊愈过程，变得美好舒服一些。

</div>
		<div>专属冬季治愈系 - - -热托蒂(Hot Toddy)
</div>
		<div></div>
		<div>【材    料】：
1. Johnnie Walker苏格兰威士忌（2 shot杯），鲜榨柠檬汁 (半shot杯） ，甘蔗糖浆（糖水比例2:1, 1shot杯），蜂蜜1汤匙，干丁香3颗
，沸水适量，柠檬片1片

【制    法】：
先将装有蜂蜜的汤匙放入热杯中，接着依次加入苏格兰威士忌，柠檬汁，糖浆和蜂蜜，充分的搅拌直到蜂蜜完全融化，接着放入干丁香和柠檬片，最后，加入沸水到八成满，一杯治愈系的鸡尾酒就大功告成了。
                        
                        
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
