<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html2</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2935;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml2_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html2.hyperesources/cocktailhtml2_hype_generated_script.js?50791"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>【材    料】：Gin(金酒)60ML、Brandy(樱桃白兰地)40ML、                         柠檬汁40ML、苏打水150ML、糖浆一茶匙、樱桃2颗                        柠檬片1片。
【制    法】:  1.在雪克壶中放入4-6冰块，倒入金酒。　　               2.加上白兰地、柠檬汁、糖浆，摇晃均匀。　              　 3.在杯中放入冰块，滤入调制好的鸡尾酒。　　               4.用苏打水加至九分满。                       5.用樱桃、柠檬皮条装饰。
</div>
		<div>Singapore Sling(新加坡司令)是世界十大鸡尾酒中惟一由亚洲人创造的。根据古老传统, 在长吧(long bar) 里品尝司令酒可以把吃剩的花生壳扔在地板上, 这对于以法律严厉著称的新加坡来说, 绝对是奇迹！</div>
		<div>        充满异国情调的东洋神秘鸡尾酒                                       -------Singapore Sling(新加坡司令）</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
