<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html15</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml15_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html15.hyperesources/cocktailhtml15_hype_generated_script.js?29148"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div></div>
		<div>              最有故事的失身烈性鸡尾酒
                                             ———长岛冰茶(Long Island Ice Tea)</div>
		<div>长岛冰茶不是茶，只是色泽很像红茶的一款鸡尾酒，是由长岛橡树滩客栈（Long Island Oka Beach Inn)的酒保发明的，由四种不同烈酒调制而成，所以酒精度相当高。以原始配方来看，度数大概在40度左右。
经典的失身酒，虽然看似乖宝宝的茶饮料，没有花哨的装饰，但是喝完两杯之后马上可以进入状态。不求酒量大小，但求状态一致。

</div>
		<div>【材    料】：
1.  金酒 (Gin) 15ml
2.  朗姆酒 (Rum) 15ml
3.  伏特加 (Vodka) 15ml
4.  龙舌兰 (Tequila) 15ml5.  橘橙酒 5ml6.  柠檬汁30ml7.  可乐8.  柠檬片和冰块
【制    法】：
1. 将要用的酒提前放于冰箱中冷藏至微凉后取出，加满冰块。
2. 将除可乐以外的所有材料倒入玻璃杯中（金酒，朗姆酒，伏特加，龙舌兰，橘橙酒，柠檬汁）
3. 用可乐慢慢的调和，然后用柠檬片做装饰，

</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
