<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html12</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml12_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html12.hyperesources/cocktailhtml12_hype_generated_script.js?22727"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div></div>
		<div>【材    料】：
1. 15ml的白兰地(Brandy)
2. 一瓶香槟酒(Champagne)
3. 一块方糖
4. 3滴安哥斯特拉比特酒（Argostura Bitter)
               
【制    法】：
先将香槟酒从冰箱里取出并打开瓶盖，然后将一块方糖放入香槟杯中，接着倒入15ml的白兰地，然后用香槟补至八成满，不需要搅拌。
最后切一片柠檬，轻轻的扭后放入杯中或者挂在杯上即可。
(注意: 做这个鸡尾酒时，尽量用小瓶的香槟酒，因为香槟一旦打开，二氧化碳跑掉，鸡尾酒的质量酒难以保证了)
                        
                        
</div>
		<div>风情万种,你的Party Time - - -香槟鸡尾酒(Champagne Cocktail)
</div>
		<div>参加不完的Party, 一路从圣诞节玩到跨年，同时又期待着农历的各个假期，欢乐的气氛让人无时无刻都想聚在一起，不用离家就能享受在酒吧微醺的惬意想必会很美好吧！
香槟鸡尾酒（Champagne Cocktail)的出现，让傲慢的香槟又多了一种施展才华的方式，只有尝试过，你会发现开启一瓶香槟，到处都是欢呼和喜悦。
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
