<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html16</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml16_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html16.hyperesources/cocktailhtml16_hype_generated_script.js?23751"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>红粉佳人，这杯酒是为了纪念1912年伦敦的热门舞台剧“红粉佳人”而创作的鸡尾酒。在公演的发布酒会中，特意为女主家海泽尔.多斯献上的一款鸡尾酒。成品效果如同酒名般粉红诱人。

薄荷，朗姆，柠檬的超强组合！Pink Mojito!
</div>
		<div></div>
		<div>【材    料】：
1.  白朗姆酒 (Rum) 30ml
2.  薄荷叶6片
3.  青柠半个
4.  覆盆子果3颗
5.  覆盆子利口酒(Chambord) 10ml
6.  黑加仑汁适量

【制    法】：
1. 在酒杯中将薄荷叶，青柠片和覆盆子果一起捣烂，加入碎冰。
2.  倒入30ml的白朗姆酒(Rum)和覆盆子利口酒（Chambord)。
3.  搅拌均匀后，加入黑加仑汁倒满，最后以薄荷叶做点缀即可。

</div>
		<div>每个姑娘心中都有一个粉红色的公主梦，红粉莫吉托(Pink Mojito)
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
