<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html7</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml7_hype_container" style="margin:auto;position:relative;width:375px;height:677px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html7.hyperesources/cocktailhtml7_hype_generated_script.js?48657"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div></div>
		<div>身未动，心已远，带你去看醉美的彩虹！
</div>
		<div>【制    法】:  
使用调酒长匙的背面，顶住杯子内壁，用量杯将材料轻轻沿匙顺杯壁流入。 　顺序为：1、红石榴糖浆2、蜜瓜甜酒3、棕可可4、樱桃白兰地5、蓝鲜橙酒6、白兰地
</div>
		<div>【材    料】：6ml  棕可可（Brown Creme De Cacao)6ml 红石榴糖浆(Grenadine) 　　6ml 蜜瓜甜酒(Melon liqueur) 　6ml 樱桃白兰地(Cherry Brandy) 6ml 白兰地(Brandy) 　6ml 蓝鲜橙酒(Blue Curacao)
</div>
		<div>------RainBow(法国彩虹）
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
