<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html14</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=device-width" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml14_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html14.hyperesources/cocktailhtml14_hype_generated_script.js?65452"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>B52轰炸机是鸡尾酒中喝法儿比较独特的一种，要配上短吸管，打火机。首先把酒点燃，用吸管一口气喝完，然后你就能体验到先冷后热那种冰火两重天的感觉。
蓝色的火焰在昏暗的环境中，如同起飞的轰炸机的火焰－B52，该酒的酒劲很足，类似于轰炸机俯冲轰炸而得名。
内涵不凡，滴滴如金，一切品自内涵。
</div>
		<div></div>
		<div>【材    料】：
1.  0.25盎司的甘露咖啡酒
2.  0.25盎司的百利甜酒（Baileys)
3.  02.5盎司百加得151 (Bacardi)
4.  Shot杯一个


【制    法】：
1. 依次注入三种不同的酒，首先是咖啡甜酒，然后百利甜酒(Baileys),  最后是百加得151(Bacardi151). 

2. 由于密度不同，所以层次鲜明。接着点燃最上层即可。

                        
                        
</div>
		<div>          对短饮鸡尾酒的完美诠释，感情深，一口闷                                                              ———B52轰炸机
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
