<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cocktail_html3</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#2B2936;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=375" />

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="cocktailhtml3_hype_container" style="margin:auto;position:relative;width:375px;height:720px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="cocktail_html3.hyperesources/cocktailhtml3_hype_generated_script.js?55330"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div>暗恋金汤力
</div>
		<div>Gin Tonic(金汤力), 是一种经典鸡尾酒，亦是各种以金酒为基础的调酒里面，知名度最高的一种饮品, 在纽约和巴黎的酒吧中，是恋人首选的饮品。很简单的一款酒，没那么花哨。青柠的香气，加上柠檬和二氧化碳的冲击感， 直白的告诉你夏日的畅快。</div>
		<div>【材    料】：Gin(金酒) 45ML、汤力水补足剩余、青柠片2片。








【制    法】：(1)将Gin(金酒)倒入8盎司容量的坦布勒杯中。(2)加入冰块，用汤力水加满，最后用柠檬片装饰。</div>
		<div>, 初恋莫吉托, 失恋二锅头。  -----Gin Tonic(金汤力）
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
